<div class="header">

	<h1> Time-Lord's wisdom </h1>
	<h2>
		"
		 <%= @quote.saying %> 
		"
	</h2>
		
	<p>
		<%= @quote.author %><br><br>	
		<%= link_to 'Give me more wisdom', quotes_path, :class => 'btn btn-primary' %>
		<%= link_to 'Contribute Your Own Wisdom', new_quote_path, :class => 'btn btn-primary' %>
		<br> <br><br>
		
				Sign up if you want to get a daily update <br> 
		


		<%= simple_form_for @email do |f| %>
		<%= f.input :name %>
		<%= f.input :address %>
		<%= f.button :submit, :class => 'btn btn-primary' %>
		<% end %>
	

	</p>
</div>